
<!DOCTYPE html>
<html lang="en">
<head>
<title>teratai.id</title>
<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="google-site-verification" content="I_raJY7re2oz0-0_bHV0eV5S9OD84rlufOKIN4c8_0Y" />
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<style type="text/css">
	@font-face {
	    font-family: 'selimaregular';
	    src: url('assets/fonts/selima_-webfont.woff2') format('woff2'),
	         url('assets/fonts/selima_-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;

	}
	body {
		font-family: 'Josefin Sans', sans-serif;
		color: white;
	}
	.fullscreen-bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: -100;
	}

	.fullscreen-bg__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.container {
		display: table;
		position: absolute;
		text-align: center;
		width: 700px;
		height: 400px;
		padding: 20px;
		left: 50%;
		top: 50%;
		margin-left: -350px;
		margin-top: -220px;
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid #B08B92;
	}

	.content-maintenance {
		display: table-cell;
		vertical-align: middle;
	}

	.content-maintenance h1{
		font-family: 'selimaregular';
		font-size: 60px;
		line-height: 80px;
		font-weight: 100;
		margin: 0;
		padding: 0;
	}

	.content-maintenance p{
		margin-bottom: 50px;
	}

	.content-maintenance a{
		display: inline-block;
		border: 1px solid white;
		padding: 0 30px;
		line-height: 50px;
		color: white;
		text-decoration: none;
		white-space: nowrap;
		transition: all 0.8s;
		cursor: pointer;
		border-radius: 40px;
	}

	.content-maintenance a:hover{
		background: white;
		color: rgba(0,0,0,.50);
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}

	@media (min-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
			height: 300%;
			top: -100%;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
			width: 300%;
			left: -100%;
		}
	}

	@media (max-width: 767px) {
		.fullscreen-bg {
			background: url('https://miro.medium.com/max/1600/1*V_c4Ep4rRjjqhhf4Lnpx6w.gif') center center / cover no-repeat;
		}

		.fullscreen-bg__video {
			display: none;
		}

		.container {
			width: 300px;
			margin-left: -185px;
			margin-top: -220px;
		}
	}
</style>

</head>

<body>
	<div class="fullscreen-bg">
	    <video loop muted autoplay poster="https://miro.medium.com/max/1600/1*V_c4Ep4rRjjqhhf4Lnpx6w.gif" class="fullscreen-bg__video">
	        <!-- <source src="assets/videos/Team-Work.webm" type="video/webm"> -->
	        <source src="https://miro.medium.com/max/1600/1*V_c4Ep4rRjjqhhf4Lnpx6w.gif" type="video/mp4">
	        <!-- <source src="assets/videos/Team-Work.ogv" type="video/ogg"> -->
	    </video>
	</div>
	<div class="container">
		<div class="content-maintenance">
			<img src="https://kaderisasi.salmanitb.com/themes/eventr/assets/img/logo-header.png" width="200">
			<h1>API services for website public BMKA</h1>
			<p>We are now under development on the services.<br><br>Thank you for your patiences</p>
			<a href="https://api-kaderisasi.salmanitb.com/" target="_BLANK">api-kaderisasi.salmanitb.com</a>
		</div>
	</div>
</body>
</html>