# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env.testing

# The development sqlite file
database/*.sqlite

# nyc ouput
.nyc_output/*

# For now we'll ignore test/coverage
test/coverage/*
